<h1>Welcome, <%= current_professional.email %>!</h1>
<p>
  <%= link_to "Add Session", new_session_path %>
  <%= link_to "Add Patient", new_patient_path %>
  <%= link_to "My Sessions", sessions_path %>
</p>
