/* app/assets/stylesheets/application.css or application.scss */

@import "flatpickr/dist/flatpickr.min.css";

body {
    background-color: red; /* Red background */
    font-family: 'Haido Grotesk', sans-serif; /* Font family */
    color: white; /* White text color for contrast */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
  }
  
  .container {
    width: 100%;
    max-width: 1200px; /* Center the content with a max width */
    padding: 20px;
  }
  
  /* For mobile screens, center everything */
  @media (max-width: 768px) {
    body {
      flex-direction: column;
      justify-content: flex-start; /* Stack the content */
      padding: 20px;
    }
    .container {
      width: 100%;
    }
  }

  /* application.css */

  /* Navbar style*/
nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav button {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
}

nav button:hover {
  color: #007bff;
}



  
